/* ==========================================================================
    GLOBAL 
   ========================================================================== */
   // MIXINS
@mixin button-red() {
    background-color:$primary-color;
    padding:15px;
}
   @import "normalize";
   @import url('https://fonts.googleapis.com/css?family=Comfortaa');
   @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
select{
    text-overflow: ellipsis !important;
    overflow:hidden !important;
}
ul {
    margin:0;
}


h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}
.hide {
	display: none;
}
a:hover {
    text-decoration: none;
}
// VARS
$font-stack: 'Comfortaa', Helvetica;
$primary-color:#d52537;
$secondary-color:#333;
$tertiary-color:#ebebeb;
$success-color:#008844;
$radius: 5px;
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-desktop-width:1200px;

.active-text {
    color:$primary-color !important;
}

select {
    background-color:white;
}
main {
    background: $tertiary-color;
    border-radius: 5px;
}

body {
    background-color:black;
    font-family:$font-stack;
    padding-bottom:30px;
    margin-bottom:30px;
}
.container {
    padding-bottom:80px;
}
.last {
    padding-bottom:80px;
}
/* ==========================================================================
    NAV BAR
   ========================================================================== */
.logo {
    margin-left:auto;
    margin-right:auto;
}
.logo-img {
    height:4rem;
    cursor:pointer;
}
ul {
    padding: 0;
    list-style: none;
}
  .main-nav {
    display: flex;
    height: 70px;
    align-items: center;
    margin:0;
    padding:10px;
    background-color:black;
}
.main-nav 
    { 
    li {
    padding:20px;
    }
    a {
    text-decoration:none;
    color:white;
    font-size:1rem;
    }
}

.main-nav-phone {
    display:flex;
    flex-direction:column;
    text-align:center;
    display:none;
    margin-top:0;
}
.main-nav-phone li {
    padding:15px;
    color:white;
    list-style:none;
    background-color:black;
    color:$primary-color;
    font-size:15px;
    font-weight:700;
}
.main-nav-phone a {
    text-decoration: none;
}
.main-nav-phone a li:hover {
    background-color:#333;
    transition:0.3s;

}

/* ==========================================================================
    INDEX.HTML
   ========================================================================== */
.select-button {
    @include button-red();
    border:none;
    color:white;
    width:80%;
}
.select-language {
    width:80%;
    height:40px;
    margin-bottom:20px;
}
.eat-in {
    width:45%;
    height:100%;
    background-color:$primary-color;
    float:left;
    color:white;
    text-align:center;
    font-size:21px;
    margin:2.5%;
    cursor:pointer;
    display:flex;
}

.takeaway {
    display:flex;
    width:45%;
    height:100%;
    background-color:#fff;
    float:left;
    color:black;
    text-align:center;
    font-size:21px;
    margin:2.5%;
    cursor:pointer;
}
.eat-in-takeaway-wrapper {
    margin:30px auto 0 auto;
    height:250px;
    width:90%;
}
.continue-text {
    clear:both;
    color:#ebebeb;
    text-align:center;
    font-size:14px;
    cursor:pointer;
    padding-top:20px;
    text-decoration:underline;
}
/* ================
    WEBSITE.HTML
================== */
.find-your-local-text {
    color:white;
    padding:30px;
    clear:both;
}
.inside-renkon-container {
    width:90%;
    margin:0 auto;
    background-color:#131313;
    text-align:center;
    color:white;
    img {
        width:90%;
        padding:5% 0% 5% 0%;
    }
    h3 {
        width:80%;
        margin:0 auto;
        line-height:40px;
    }
    button {
        @include button-red();
        border:none;
        width:60%;
        height:40px;
        margin-top:10px;
    }
}
.find-your-local-div {
    input {
        height:50px;
        width:68%;
        float:left;
    }
    button {
        background-color:$primary-color;
        height:50px;
        width:30%;
        margin-left:2%;
        border:none;
        color:white;
        float:left;
    }
    width:90%;
    margin:0 auto;
}
.eat-in-website {
    width:45%;
    height:100%;
    background-color:$primary-color;
    float:left;
    color:white;
    text-align:center;
    font-size:21px;
    cursor:pointer;
    padding:10px 0px 10px 0px;
    margin:2.5%;
}

.takeaway-website {
    margin:2.5%;
    width:45%;
    height:100%;
    background-color:#fff;
    float:left;
    color:black;
    text-align:center;
    font-size:21px;
    cursor:pointer;
    padding:10px 0px 10px 0px;

}
.website-wrapper {
    margin:0 auto;
    width:90%;
}
/* ==========================================================================
  TAB BAR
   ========================================================================== */
.tab-bar {
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:60px;
    background-color: #151515;
    color: white;
    text-align: center;
    justify-content:space-around;
    align-items:center;
    z-index:2;
}
.tab-bar li {
    list-style:none;
    width:20%;
    cursor:pointer;
}
.tab-bar li a {
    color:#ebebeb;
    text-decoration:none;
}
.tab-bar i {
    color:#ebebeb;
}
.active {
    color:$primary-color !important;
}

/* TAB BAR */

@mixin border-radius($radius) {
    border-radius: $radius;
}

/* ==========================================================================
   MENU
   ========================================================================== */
.image-left {
    margin:5%;
    width:35%;
    float:left;
}
.image-left img {
    width:100%;
}
.text-right {
    h4 {
        font-size:18px;
    }
    h6 {
        font-size:11px;
    }
    h3 {
        color:$primary-color;
        padding-top:5px;
    }
    width:52%;
    margin:9% 3% 0% 0%;
    float:left;
    color:white;
    text-align:right;
}

.menu-item {
    float:left;
    border-bottom:1px solid #333;
    width:100%;
}
.side-image {
    width:100%;
}

/* ==========================================================================
  BREADCRUMB
   ========================================================================== */

.breadcrumb-nav {
    li {
        padding:10px;
        text-align:center;
    }
    a {
        width:33%;
        text-decoration: none;
        color:white;
        font-size:1rem;
    }
    display: flex;
    height: 46px;
    align-items: center;
    margin:0;
    background-color:#333;
    justify-content:space-around;
}
/* BREADCRUMB */

/* ==========================================================================
   STORE
   ========================================================================== */
.search-store {
    color:white;
    margin:5%;
    margin-top:10%;
    padding-bottom:6*0px;
    border-bottom:1px solid white;
}
.search-store h2 {
    border-bottom:1px solid white;
    margin-bottom:5%;
}
.search-store input {
    width:100%;
    margin-top:2%;
    height:30px;
}
.search-button {
    background-color:$primary-color;
    border:none;
    color:white;
    padding:10px 35px;
    border-radius:0px;
    margin-top:10px;
    float:right;
}
.renkon-places { 
    img 
    {
    padding-bottom:20px;
    padding-top:20px;
} 
    margin:5%;
    color:white;
    clear:both;
    border-bottom:1px solid white;
    padding-bottom:70px;
}
.renkon-places h2 {
    margin-bottom:5%;
}
.renkon-places h5 {
    margin:1%;
}
.renkon-places p {
    margin:20px 0 0 0;
}

/* ==========================================================================
   ABOUT.HTML & TABLET & DESKTOP
   ========================================================================== */
   @media screen and (min-width: $tablet-width) {
    section.about-section {
        h4 {
            font-size:20px;
        }
        h1 {
            font-size:30px;
        }
    }
}

@media screen and (min-width: $desktop-width) {

    section.about-section {
        h4 {
            font-size:30px;
        }
        h1 {
            font-size:40px;
        }
    }
}
.about-section { 
    h4 {
        font-size:16px;
        margin-top:5%;
        margin-bottom:5%;
    }
    h1 {
        font-size:25px;
        color:$primary-color;
    }
    a {
        text-decoration: underline;
        color:$primary-color;
    }
    color:white;
    margin:30px;
}

/* ==========================================================================
   Eat in
   ========================================================================== */

#text-span {
    font-size:70px;
}
.span-wrapper {
    width:150px;
    height:90px;
    margin:0 auto;
}
.eat-in-choose-number-section {
    input {
        width:200px;
        height:35px;
        border:5px solid #ebebeb;
    }
    h3 {
        margin-bottom:10px;
    }
    color:#ebebeb;
    width:80%;
    position:absolute;
    top:30%;
    left:10%;
    text-align:center;
}

.proceed-btn {
    color:white;
    background-color:$primary-color;
    border:none;
    padding:15px 73px;
    margin-top:10px;
    border-radius:0px;
}

/* ==========================================================================
   DONBURI.HTML
   ========================================================================== */


  /* ==========================================================================
   DONBURI.HTML
   ========================================================================== */
  .modal {
    a {
        color:white;
        padding:20px;
    }
    .row-language {
        margin-top:30px;
    }
    background-color:white;
    color:white;
    text-align:center;
}
.order-item {
    h2 {
        font-weight:900;
        font-size:16px;
        padding:10px;
    }
    h5 {
        padding:0px 0px 10px 0px;
        font-weight:500;
    }
    img {
        width:100%;
        padding:10px;
    }
    color:white;
    text-align:center;
    margin:15px;
}
.order-item-type {
    .btn-pay {
        @include button-red();
        width:100%;
        border:none;
    }
    textarea {
        width:100%;
    }
    h2 {
        font-weight:900;
        font-size:25px;
        padding-top:20px;
    }
    h5 {
        padding:0px 0px 10px 0px;
        font-weight:200;
    }
    img {
        width:100%;
    }
    #type, #current-sauce {
        width:100%;
        color:black;
        height:40px;
    }
    label {
        padding-top:20px;
    }
    .add-to-order {
        width:100%;
        background-color:$success-color;
        border:none;
        color:white;
        padding:10px;
        height:40px;
    }


    .nutritional {
        clear:both;
        color:#ebebeb;
        margin-top:10px;
        font-size:12px;
        text-decoration:underline;
    }

    color:white;
    text-align:left;
    margin:15px;
}
.bg-dark{
    background-color:#1b1b1b;
}
.select-btn {
    color:white;
    background-color:$primary-color;
    border:none;
    padding:10px;
    width:100%;
    margin-top:10px;
    border-radius:0px;
}
.order-wrapper { 
    img {
        width:100%;
        height:100%;
    }
    padding:0;
}


/* ==========================================================================
   ORDER.HTML
   ========================================================================== */
   .container-pickup {
       .btn-refresh {
           background-color:transparent;
           border:none;
           width:100%;
           margin:0;
           height:40px;
           padding:0;
           text-align:center;
           width:100%;
       }
       .btn-proceed {
           background-color:$primary-color;
           border:none;
           width:100%;
           height:40px;
           margin-bottom:20px;
       }
       a {
           color:white;
       }
       color:white;
   }
   .margin-top-2 {
       margin-top:20px;
   }
   .row-total {
       h2 {
           font-weight:200;
           padding:10px;
       }
       border-top:1px solid white;
       border-bottom:1px solid white;
       width:95%;
       margin:20px auto;
       color:white;
   }
   .container-order {
       padding:0;
   }
.order-details {
    margin-right:0;
    margin-left:0;
    a {
        color:white;
    }
    h3 {
        padding:30px;
    }
    .btn-remove {
        background-color:$primary-color;
        border:none;
        padding:5px;
        margin:5px 5px 5px 0px;
    }
    .btn-edit {
        background-color:#333;
        padding:5px;
        border:none;
        margin:5px 5px 5px 0px;
    }
    color:white;
}

.order-one {
    padding-bottom:20px;
    border-bottom:1px solid #ebebeb;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:$font-stack;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
  
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

// ================================================================================================================
            // RECEIPT TABLET & DESKTOP
// ================================================================================================================
@media screen and (min-width: $tablet-width) {
    .receipt-section {
        h4 {
            font-size:20px !important;
        }
    }
}
@media screen and (min-width: $desktop-width) {
    body {
        .select-language {
            width:20% !important;
        }
    .receipt-section {
        h4 {
            font-size:18px !important;
        }
        h1 {
            font-size:90px !important;
        }
    }
}
    .container {
        .eat-in-takeaway-wrapper {
            .eat-in, .takeaway {
                .eat-in-content, .takeaway-content, .fa-utensils, .fa-arrow-alt-circle-right {
                    font-size:25px !important;
                    .fa-credit-card,.fa-money-bill-alt {
                        font-size:25px !important;
                    }
                }
            }
        }
    }
    body {
    .eat-in-choose-number-section {
        h3 {
            font-size:35px !important;
        }
        .text-number {
            p {
                font-size:20px;
            }
        }
        .input {
            height:40px !important;
        }
        .proceed-btn {
            font-size:18px !important;
            margin-top:50px;
        }
    }
}
    .container-pickup {
        .btn-proceed {
            font-size:18px !important;
            height:40px !important;
        }
        .btn-refresh {
            font-size:18px !important;
            height:40px !important;
        }
        p {
            font-size:18px !important;
        }
    }
    .container-order {
        .row-total {
            .pull-left, .pull-right {
                font-size:23px;
            }
        }
    }
    .order-details {
        h3 {
            font-size:18px !important;
        }
        .order-one, .order-two {
            .order-details {
                .btn-remove-one, .btn-remove-two,.btn-edit {
                    font-size:16px;
                }
            }
        }
    }
    .order-wrapper {
        .order-item {
            h2 {
                font-size:18px !important;
            }
            h5 {
                font-size:15px !important;
            }
            h3 {
                font-size:15px !important;
            }
            .select-btn {
                font-size:15px !important;
            }
        }
    }
    .order-item {
        h2 {
            font-size:18px !important;
        }
        h5 {
            font-size:16px !important;
        }
    }
    .image-and-description {
        img {
            width:70% !important;
        }
    }
    .col-lg-12 {

    .order-item-type {
        h2 {
            font-size:22px !important;
        }
        h5 {
            font-size:16px !important;
        }
    }
}
.col-lg-12 {
.section-form {
    p {
        font-size:13px !important;
    }
    .add-to-order {
        height:40px !important;
        font-size:16px !important;
    }
    label {
        font-size:16px !important;
    }
    #type {
        font-size:16px !important;
        height:40px !important;
    }
    #current-sauce {
        font-size:16px !important;
        height:40px !important;
    }
    .button-input-group {
        button {
            height:40px;
            font-size:20px !important;
        }
        #qty {
            height:40px !important;
            font-size:20px !important;
        }
    }
    }
}

    .breadcrumb-nav {
        width:50% !important;
        margin:0 auto;
        height:50px !important;
     a {
         li {
        font-size:16px !important;

         }
     }
    }
    .renkon-places {
        h2 {
            font-size:20px !important;
        }
        h5 {
            font-size:16px !important;
        }
        p {
            font-size:16px !important;
        }
    }
    .about-section {
        h1 {
            font-size:20px !important;
        }
    }
    .container {
        width:50% !important;
        margin:0 auto;
    }
.text-right {
    h4 {
        font-size:16px !important;
    }
}
    h4 {
        font-size:16px !important;
    }
    .menu-item {
        .text-right {
            h4 {
                font-size:20px !important;
            }
            h6 {
                font-size:16px !important;
            }
        }
        .image-left {
            img {
                width:80%;
            }
        }
    }
    .tab-bar {
        display:none;
    }
    .main-nav {
        height:50px !important;
        .fa-shopping-cart {
            font-size:20px !important;
        }
        .fa-bars {
            display:none;
        }
        .logo-img {
            height:6rem;
        }
    }
    .main-nav-phone {
        display:flex;
        flex-direction:row;
        background-color:black;
        justify-content:center;
        li {
            font-size:16px !important;
        }
    }

}
@media screen and (min-width: $desktop-width) {
    .receipt-section {
        h4 {
            font-size:27px !important;
        }
        h1 {
            font-size:190px !important;
        }
    }
}

.receipt-section { 
    h4 {
        font-size:16px;
        margin-top:5%;
        margin-bottom:5%;
    }
    h1 {
        font-size:100px;
        color:$primary-color;
    }
    a {
        text-decoration: underline;
        color:$primary-color;
    }
    color:white;
    margin:30px;
    text-align:center;
}


// ================================================================================================================
            // MODAL
// ================================================================================================================

.img-title-btn {
    h3 {
        color:white;
        padding:20px;
    }
    h5 {
        padding:0px 20px 20px 20px;
    }
    button {
        background-color:$primary-color;
        border:none;
        padding:10px 30px 10px 30px;
        color:white;
    }
    text-align:center;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

// CAROUSEL 

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.carousel {
    clear:both;
}
.carousel-caption {
    h3 {
            padding:3px;
    }
}


// ================================================================================================================
            //PAYMENT.HTML & DESKTOP & TABLET
// ================================================================================================================
@media screen and (min-width: $tablet-width) {
   .eat-in-content, .fa-credit-card-2, .takeaway-content, .fa-money-bill-alt  {
       font-size:40px !important;
   }
}
#textarea {
    color:black;
    padding:10px;
}
.no-padding {
    padding:0px 20px 20px 0px;
}
#textarea-label {
    padding:0;
}
#exp-date {
    width:40%;
    height:40px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    color:black;
}

#cvc {
    width:40%;
    height:40px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    color:black;
}


  /* ==========================================================================
   DONBURI.HTML DESKTOP & TABLET
   ========================================================================== */

//    @media screen and (min-width: $desktop-width) {
//         .order-item {
//             h2 {
//             font-size:30px !important;
//             font-weight:900;
//           }
//            h5 {
//                font-size:25px !important;
//            }
//            h3 {
//                font-size:25px !important;
//            }
//            .select-btn {
//                font-size:30px !important;
//            }
//         }
//      }

     @media screen and (min-width: $tablet-width) {
         .continue-text {
             font-size:20px;
         }
         .logo-img {
             height:6rem;
         }
         .tab-bar {
             li {
                 font-size:20px;
             }
             height:90px;
         }
         .main-nav-phone {
             li {
                 font-size:20px;
             }
         }
         .order-item {
             h2 {
                 font-size:22px;
             }
             h5 {
                 font-size:16px;
             }
             h3 {
                 font-size:20px;
             }
             .select-btn {
                 font-size:20px;
             }
         }
     }
/* ==========================================================================
            // DESKTOP & TABLET VERSION EAT-IN.HTML
   ========================================================================== */
   @media screen and (min-width: $desktop-width) {
       .input {
           font-size:25px;
       }


       .eat-in-choose-number-section {
           input {
               width:130px;
           }
           h3 {
               color:$primary-color;
               font-size:55px !important;
               font-family:'Kaushan Script';
           }
           button {
               font-size:25px;
               border-radius:10px;
               width:50%;
           }
       }
    .text-number p {
        font-size:25px;
    }
    .proceed-btn {
        padding:25px 73px !important;
    }
    #input-number {
        height:50px;
    }
    }

    .eat-in-choose-number-section {
        top:25%;
        margin-bottom:80px;
        h3 {
            color:$primary-color;
            font-size:25px;
            font-family:'Kaushan Script';
        }
    }

// ================================================================================================================
            //DESKTOP & TABLET VERSION STORE.HTML
// ================================================================================================================
@media screen and (min-width: $tablet-width) {
    .renkon-places {
        h2 {
        font-size:30px;
    }
      h5 {
          font-size:20px;
      }
      p {
          margin:1%;
      }

}
    .search-store {
        input {
            height:40px;
        }
        button {
            height:40px;
            width:100%;
        }
        h2 {
            font-size:35px;
        }
        h4 {
            font-size:20px;
        }
    }
}


// ================================================================================================================
            //DESKTOP & TABLET VERSION MENU.HTML
// ================================================================================================================
@media screen and (min-width: $desktop-width) {
    .img-title-btn {
        .modal-title {
            font-size:35px !important;
        }
        h5 {
            font-size:22px !important;
        }
        .btn-add {
            font-size:25px;
        }
    }

    .search-store {
        input {
            height:50px !important;
        }
        button {
            font-size:25px;
            height:50px !important;
        }
    }
    .renkon-places {
        h2 {
            font-size:35px;
        }
        h5 {
            font-size:26px;
        }
        p {
            font-size:25px;
        }
    }
    .fa-bars, .fa-shopping-cart {
        font-size:40px !important;
    }
    .tab-bar {
        a {
            font-size:25px;
        }
        height:100px;
    }
    .text-right {
        h4 {
            font-size:30px !important;
        }
        h6 {
            font-size:22px !important;
        }
        h3 {
            font-size:30px !important;
        }
    }
    .main-nav {
        height:100px;
    }
    .main-nav-phone li{

        font-size:25px;
    }
    .logo-img {
        height:8rem;
    }

}
@media screen and (min-width: $tablet-width) {
   .image-left {
       width:20%;
       margin:3%;
   }
   .text-right {
       h6 {
           font-size:14px;
       }
       h4 {
           font-size:25px;
       }
       width:70%;
       margin-top:6%;
   }
}


// ================================================================================================================
            //TABLET VERSION INDEX.HTML
// ================================================================================================================
.eat-in-content {
    margin:0 auto;
    align-self:center;
}
.takeaway-content {
    margin:0 auto;
    align-self:center;
}

@media screen and (min-width: $desktop-width) {
    .image-left {
        img {
            width:50%;
        }
    }
    .text-right {
        margin-top:4%;
    }
    .modal {
        h3 {
            font-size:25px;
        }
        select {
            width:40%;
            height:50px;
            font-size:20px;
            margin:0 !important;
        }
        button {
            height:54px;
        }
    }
    .eat-in {
        height:50vh;
    }
    .takeaway {
        height:50vh;
    }

    .continue-text {
        font-size:25px;
    }

    }


@media screen and (min-width: $tablet-width) {
    .eat-in-takeaway-wrapper {
        height:400px;
    }
    .eat-in-content, .takeaway-content {
        i {
            font-size:45px;
        }
        h4 {
            font-size:33px;
        }
    }
    .select-button {
        width:20%;
    }
    .select-language {
        width:20%;
    }
    .ajs-content {
        text-align:center;
    }

 }




// ================================================================================================================
            //TABLET VERSION ORDER.HTML
// ================================================================================================================

@media screen and (min-width: $tablet-width) {
    .btn-proceed, .btn-refresh {
        font-size:20px;
        height:50px !important;
    }
    .order-details {
        h3 {
            font-size:25px;
        }
        h4 {
            font-size:20px;
            padding-bottom:20px;
        }
        text-align:right;
    }


 }

 @media screen and (min-width: $desktop-width) {
    .eat-in-content, .takeaway-content {
        i {
            font-size:55px;
        }
        h4 {
            font-size:40px;
        }
    }
    .order-details {
        h4 {
            font-size:30px;
        }
        text-align:right;
    }
    .btn-remove {
        font-size:20px;
        padding:10px 20px !important;
    }
    .btn-edit {
        font-size:20px;
        padding:10px 20px !important;
    }
    .pull-left, .pull-right {
        font-size:40px;
    }
    .container-pickup {
        p {
            font-size:25px;
        }
        button {
            font-size:25px;
            height:60px !important;
        }
    }
    .breadcrumb-nav {
        li {
            font-size:28px;
        }
        a {
            padding:6px;
        }
        height:70px;
    }

 }

 // ================================================================================================================
            //TABLET VERSION & MOBILE TYPE.HTML
// ================================================================================================================
.button-input-group {
    width:100%;
    float:right;
}

#qty {
    width:33%;
    height:39px;
    float:left;
    margin-bottom:10px;
    color:black;
    text-align:center;
    font-size:20px;
    font-weight:900;
}
.minus-button {
    background-color:$primary-color;
    border:none;
    font-size:20px;
    width:33%;
    float:left;
    height:40px;
}
.plus-button {
    background-color:$primary-color;
    border:none;
    font-size:20px;
    width:33%;
    height:40px;
}
@media screen and (min-width: $desktop-width) {
    .image-and-description {
        h2 {
            font-size:40px !important;
            font-weight:600;
            padding-top:10px;
        }
        h5 {
            font-size:26px !important;
        }
        text-align:center;
    }
    .section-form {
        label {
            font-size:26px;
        }
        select, #qty, #type {
            height:60px !important;
            font-size:30px !important;
            text-align:center;
        }
        .minus-button {
            height:60px;
            font-size:40px !important;
        }
        .plus-button {
            height:60px;
            font-size:40px !important;
        }
        .add-to-order {
            height:60px !important;
            font-size:21px;
            font-weight:900;
        }
        .nutritional {
            font-size:20px;
        }
    }


}
@media screen and (min-width: $tablet-width) {
    .section-form {
        width:80%;
        margin:0 auto;
    }
    .order-item-type {
        .add-to-order {
            width:100%;
        }
        .image-and-description {
            h2 {
                font-size:33px;
                font-weight:600;
                padding-top:10px;
            }
            h5 {
                font-size:20px;
            }
            text-align:center;
        }
        img {
        width:80%;
        margin:20px auto;
    }
    width:80%;
    margin:0 auto;
}

    .order-wrapper {
        img {
        width:60%;
    }
    text-align:left;
}
input#qty {
    text-align:center;
}
#type, #current-sauce, #qty, .add-to-order {
    font-size:18px;
}
}


 // ================================================================================================================
            //TABLET & DESKTOP VERSION WEBSITE.HTML
// ================================================================================================================
.find-your-local-text {
    text-align:center;
}
@media screen and (min-width: $desktop-width) {
    .eat-in-website, .takeaway-website {
        h4 {
            font-size:30px;
            padding:10px;
        }
    }
    .find-your-local-div {
        input {
            height:50px !important;
            font-size:25px;
        }
        button {
            font-size:25px;
            height:50px !important;
        }
    }
    .inside-renkon-container {
        h3 {
            font-size:25px !important;
        }
        button {
            height:60px;
            font-size:25px !important;
        }
    }

}
@media screen and (min-width: $tablet-width) {

.inside-renkon-container {
    width:90%;
    margin:2.5%;
    margin:0 auto;
    margin-bottom:40px;
   
    .last {
        padding:0px 50px 50px 50px;
    }
    button, h3{
        font-size:20px;
    }
}
.find-your-local-div {
    text-align:center;
    input {
        margin:0 auto;
        width:60%;
        height:40px;
        float:none;
    }
    button {
        width:60%;
        height:40px;
        padding:0;
        float:none;
        margin-left:0%;
        margin-top:20px;
    }
}
}



 // ================================================================================================================
            // HOVER GROW
// ================================================================================================================

/* Grow */
.hvr-grow {
    display:flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgb(85, 0, 0);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
        background-color: rgb(85, 0, 0);      
    }
  }
  .hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: $primary-color;
    background-color: $primary-color;
    color: white;
  }
  

   // ================================================================================================================
            //TABLET VERSION TYPE-SIDE.HTML
// ================================================================================================================
@media screen and (max-width: 350px) {

    .order-item {
        h5 {
            display:none;
        }
        h2 {
            padding:2px;
        }
    }
}
/* Bubble Right */
.active-list {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
  .active-list:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 10px);
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $primary-color;
  }
  .active-list {
    background-color:$primary-color;
}
.active-list-background-colour {
    background-color:$primary-color;
}
